body {
  background-color: black;
}
img.alpha1 {
  height: auto;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
img.beta1 {
  float: right;
  height: 400px;s
  width: auto;
  border-radius: 50px;
  margin: 10px;
}
div.alpha {
  text-align: justify;
  margin: 10px;
  background-color: grey;
  padding-left: 50px;
  padding-right: 50px;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
h1.hp-name {
  text-align: right;
  font-size: 50pt;
  font-family: monospace;
  color: white;
}
p.alpha1 {
  text-align: center;
  font-size: 16pt;
}
div.sidebar {
  position: fixed;
  background-color: black;

}
div.top {
  background-color: black;
}
.important {
  font-family: monospace;
  color: #b0dbe8;
}
