body {
  background-color: #cccccc;
}
img.alpha {
  height: auto;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5px;
}
img.beta {
  float: right;
  height: 400px;
  width: auto;
  border-radius: 50px;
  margin: 10px;
}
div.alpha1 {
  text-align: justify;
}
h2.alpha1 {
  text-align: center;
}
h1.hp-name {
  text-align: right;
  font-size: 35pt;
}
